@font-face {
  font-family: 'BM';
  src: url(./BMJUA_ttf.ttf);
}

.movies {
  display: grid;
  padding: 40px;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 60px;
}

.container {
  background-color: #e9ecef;
}
